/* #region sticky-footer */
html,
body{
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

.btn:hover{
    color: #ffffff;
   background-color: #94a094;
   font-weight: bolder;
}


.btn {
    border:#fbfffb

}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

/* #endregion */
